---
layout: post
---
<article class="life-post">
  <div class="life-content">
    {{ content }}
  </div>

  <footer class="life-footer">
    {% assign related = site.life | where_exp: "item", "item.tags contains page.tags[0]" %}
    {% if related.size > 1 %}
      <p class="also-see">Also see:
        {% for item in related limit:3 %}
          {% unless item.url == page.url %}
            <a href="{{ item.url }}">{{ item.title }}</a>{% unless forloop.last %}, {% endunless %}
          {% endunless %}
        {% endfor %}
      </p>
    {% endif %}
  </footer>
</article>
